.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-image: url(../../pikachu.jpg);
}

.container h1{
    display: flex;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    text-decoration-line: underline;
    margin-left: 100px;
    margin-top: 100px;
}

.landing {
   display: flex;
   flex-direction: column;
}


.sprite{
    display: flex;
    margin-left: 200px;
    margin-top: 80px;
    width: calc(1806px / 12);
    height: 381px;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fbd54d69-4c44-492f-a875-34581f2193d3/dbuep2k-cede9c13-4fea-4f3f-9be3-3b36965d2521.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZiZDU0ZDY5LTRjNDQtNDkyZi1hODc1LTM0NTgxZjIxOTNkM1wvZGJ1ZXAyay1jZWRlOWMxMy00ZmVhLTRmM2YtOWJlMy0zYjM2OTY1ZDI1MjEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.V3KeGQMabwi13IGRTk6h9eToH9zTf3Y3K74-RWcirwY);
    animation: walk 2.5s steps(12) infinite;
    background-size:  1806px 381px;
}

@keyframes walk {
    from{
        background-position: 0 0px;
    }
    to{
        background-position: -1806px;
    }
}

.botonlink{
    border-radius: 5px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 100px;
    width: 400px;
    height: 50px;
    background-color: rgba(255, 217, 0, 0.918);
    text-transform: capitalize;
}

.botonlink:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 4, 255);
    font-style: oblique;
    border-radius: 20px;
    transform: scale(1.08);
    cursor: pointer;
}

.pikachu{
    display: none;
}

.chivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    margin-right: 150px;
}

.chivo p{
    font-size: large;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}


.linkchivo{
    text-decoration: none;
    color: white;
}

.linkchivo:hover{
    /* cursor: pointer; */
    transform: scale(1.2);
}

@media screen and (max-width: 720px){
    .container h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
        font-size: x-large;
    }
    .container{
        width: 100%;
    }
    .sprite{
        margin-top: 10px;
        margin-left: 0px;
        display: flex;
        width: calc(903px / 12);
        height: 190.5px;
        background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fbd54d69-4c44-492f-a875-34581f2193d3/dbuep2k-cede9c13-4fea-4f3f-9be3-3b36965d2521.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZiZDU0ZDY5LTRjNDQtNDkyZi1hODc1LTM0NTgxZjIxOTNkM1wvZGJ1ZXAyay1jZWRlOWMxMy00ZmVhLTRmM2YtOWJlMy0zYjM2OTY1ZDI1MjEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.V3KeGQMabwi13IGRTk6h9eToH9zTf3Y3K74-RWcirwY);
        animation: walk 2.5s steps(12) infinite;
        background-size:  903px 190.5px;
    }

    @keyframes walk {
        from{
            background-position: 0 0px;
        }
        to{
            background-position: -903px;
        }
    }

    .botonlink{
        margin-top: 5px;
        margin-left: 0px;
        width: 280px;
        font-size: small;
    }
    .chivo{
        margin-top: 10px;
    }

    .chivo p{
        font-size: small;
        margin-bottom: 5px;
        margin-left: 30px;
    }

    .chivo img{
        width: 20px;
        height: 20px;
    }

    .pikachu{
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        width: 120px;
        height: 120px;
    }
    .landing {
        justify-content: center;
        align-items: center;
     }
}

