.container{
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-image: url(../../pikachu.jpg);
}

.landing {
   position: absolute;
   top: 50px;
   left: 150px;
   width: 500px;
   height: 100px;

}

.container h1{
    position: absolute;
    top: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    text-decoration-line: underline;
    
    
}

.container button{
    font-size: large;
    top: 700px;
    width: 400px;
    height: 50px;
    position: absolute;
    background-color: rgba(255, 217, 0, 0.918);
    left: 120px;
    text-transform: capitalize;
}
.container button:hover{
    background-color: rgba(190, 237, 255, 0.979);
    color: blueviolet;
    font-style: oblique;
    border-radius: 20px;
    transform: scale(1.08);
    cursor: pointer;
}

.sprite{
    position: absolute;
    left: 100px;
    bottom: 350px;
    width: calc(1806px / 12);
    height: 381px;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fbd54d69-4c44-492f-a875-34581f2193d3/dbuep2k-cede9c13-4fea-4f3f-9be3-3b36965d2521.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZiZDU0ZDY5LTRjNDQtNDkyZi1hODc1LTM0NTgxZjIxOTNkM1wvZGJ1ZXAyay1jZWRlOWMxMy00ZmVhLTRmM2YtOWJlMy0zYjM2OTY1ZDI1MjEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.V3KeGQMabwi13IGRTk6h9eToH9zTf3Y3K74-RWcirwY);
    animation: walk 2.5s steps(12) infinite;
    background-size:  1806px 381px;
}

@keyframes walk {
    from{
        background-position: 0 0px;
    }
    to{
        background-position: -1806px;
    }
}

/* .pika{
    position: absolute;
    left: 100px;
    bottom: 350px;
    width: calc(1010px / 8);
    height: 288px;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9fd6d02c-7cf1-4405-a049-c9db45a7448e/dctxkkv-070a9810-198d-4a7e-b6bd-55f8ef62f5c1.png/v1/fill/w_364,h_96,strp/my_pikachu_walk_sprite_by_koreyriera_dctxkkv-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTYiLCJwYXRoIjoiXC9mXC85ZmQ2ZDAyYy03Y2YxLTQ0MDUtYTA0OS1jOWRiNDVhNzQ0OGVcL2RjdHhra3YtMDcwYTk4MTAtMTk4ZC00YTdlLWI2YmQtNTVmOGVmNjJmNWMxLnBuZyIsIndpZHRoIjoiPD0zNjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Nl48EISdcqEK2ezSGrXVg2V9E1iUycuWh2_UBhjW2ZI);
    animation: pika 1s steps(8) infinite;
    background-size:  1070px 288px; 
} */

@keyframes pika{
    from{
        background-position: 0 0px;

    }
    to{
        background-position: -1070px;
    }
}




