.container{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.buttonPag{
    margin: 10px;
    width: 25px;
    height: 25px;
    transition: 0.2s;
}

.buttonPag:hover{
    transform: scale(1.5);
    /* transform: translateY(-20px); */
    box-shadow: 0 0 10px rgb(1, 5, 1);
}
